
@{
    ViewBag.Title = "HelpDesk";

}
<div id="app"></div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
      el: '#app',
      template: `
        <div class="container">
          <h1 style="color:#FC6027"">Precisa de ajuda para usar a aplicação, se sim, siga os passos abaixo:</h1>
          <ul>
              <li> Entre com o seu Nome e a palavra-chave 'crud', no comentário</li>
              <li> Os comentários devem ser: (sem acento e sem CAPS LOCK ligado)</li>
          </ul>
          <hr />
          <div class="form-todo form-group">
            <p>
              <input style="background-color:#fff" placeholder="nome" type="text" name="author" class="form-control" v-model="name" />
            </p>
            <p>
              <textarea style="background-color:#fff" placeholder="Comentário" name="message"  class="form-control" v-model="message"></textarea>
            </p>
            <button style="background-color:#4B4FA1;border-color:#4B4FA1" v-on:click="addComment" type="submit" class="btn btn-primary">Comentar</button>
          </div>

          <div class="list-group">
            <div class="list-group-item" v-for="(comment, index) in allComments">
            <div class="container-fluid">
              <span style="color:#FE4400" class="comment__author">Autor: <strong style="color:#FE4400">{{ comment.name }}</strong></span>
                <p style="color:#FE4400">{{ comment.message }}</p>
                 <hr/>
                 <div style="float:right;">
                    <span style="color:#4B4FA1" class="comment__author">Autor: <strong style="color:#4B4FA1">Guilherme Abreu</strong></span>
                    <p style="color:#4B4FA1"> {{comment.message2}} </p>
                </div>
              <br>
              <br>
              <br>
              <div style="text-align:center">
                    <button style="background-color:#FF3104;" class="btn btn-danger" href="#" title="Excluir Conversa" v-on:click.prevent="removeComment(index)">Excluir</button>
              </div>
              <div>
             </div>
            </div>
            </div>
          </div>
        </div>
      `,
      data() {
        return {
          comments: [],
          name: '',
          message: '',
          message2: '',
        }
      },
      methods: {
        addComment() {
            if (this.message.trim() === '') {
                return;
            }

            else if (this.message.trim().indexOf("crud") > -1) {
                this.message2 = "digite no comentário a letra chave: 'c' para eu te ensinar a Cadastrar um produto, 'r' para te ensinar a visualizar a lista de produtos, 'u' para te ensinar a atualizar os dados do produto, 'd' para deletar um produto ";
            }

            else if (this.message.trim().indexOf("c") > -1) {
                this.message2 = "Clique em Produtos FCamara, no menu acima, depois clique no botão: + e entre com as informações do novo produto";
            }

            else if (this.message.trim().indexOf("r") > -1) {
                this.message2 = "Clique em Produtos FCamara, no menu acima, e visualize a lista de produtos";
            }

            else if (this.message.trim().indexOf("u") > -1) {
                this.message2 = "Clique em Produtos FCamara, no menu acima, depois clique no botão: Atualizar info., e por último Atualize com as informações desejadas";
            }

            else if (this.message.trim().indexOf("d") > -1) {
                this.message2 = "Clique em Produtos FCamara, no menu acima, depois clique no botão: Deletar e por último confirme a exclusão do produto";
            }

            else {
                this.message2 = "Olá Tudo bem ? Será um prazer te conhcer pessoalmente e poder trabalhar com pessoas incríveis como você, digite ajuda nos comentários acima para eu te ensinar a visualizar a aplicação inteira!!!";
            }

          this.comments.push({
            name: this.name,
            message: this.message,
            message2: this.message2,
          });
          this.name = '';
          this.message = '';
          this.message2 = '';
        },
        removeComment(index) {
          this.comments.splice(index, 1);
        },
      },
      computed: {
        allComments() {
          return this.comments.map(comment => ({
            ...comment,
            name: comment.name.trim() === '' ? 'Anônimo' : comment.name
          }))
        }
      },
      watch: {
        comments(val) {
          console.log('val', val)
        }
      }
    })
</script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
